.footer{
     position: relative;
     margin-top: 38px;
     border: 4px solid $btn-hvr;


     &_row{
          @include flex(start,space-between);
          padding:72px 7px 94px 39px;

          @include media(1000){
               padding:72px 7px 54px 9px;

          }

          @include media(940){
               @include flex(center,center);
               flex-direction: column;
               gap: 30px
          }

          @include media(440){
               @include flex(start,center);
               flex-direction: column;
               gap: 30px
          }

     }

     &_content{
          @include flex(start,unset);
          gap: 161px;

          @include media(1400){
               gap: 20px;
          }

          @include media(940){
               @include flex(center,center);
               flex-direction: column;
               gap: 30px
          }

          @include media(440){
               @include flex(start,center);
               flex-direction: column;
               gap: 30px
          }


     }

     &_logo{


          &_text{
              @include flex(start,unset);
              flex-direction: column;
              gap: 38px;
          }
  
          &_title{
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #424242;
          }
  
          &_subtitle{
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #A49B9B;
          }
      }
  
     &_contact{
          display: flex;
          flex-direction: column;
          gap: 16px;
     }

     &_navbar{
          @include flex(start,unset);
          gap: 78px;
          padding-top: 30px;

          @include media(1230){
               gap: 20px;
               
          }
     }

     &_left{
          @include flex(start,unset);
          gap: 29px;
          flex-direction: column;
     }

     &_link{
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #424242;
     }

}