.header{
    position: relative;


    &_row{
        @include flex(center,space-between);
        @include adaptive-value('padding-top',37,16);

    }

    &_content{
        @include flex(center,center);
        gap: 78px;


        @include media(1170){
            gap: 15px
        }

    }

    &_link{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #424242;
        transition: all 0.2s ease-in-out;

        &:hover{
        color: $btn;
        }
    }


    &_navbar{
        @include flex(center,center);
        gap: 60px;

        @include media(1280){
            gap: 30px
        }

        @include media(1100){
            gap: 15px
        }

        @include media(1030){
            display: none;
        }
    }

    &_tel{
        @include flex(center,center);
        gap: 19px;


        &_text{
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #424242;
        }

        @include media(1030){
            display: none;
        }

    }


    &_burger{
        display: none;

        @include media(1030){
            display: block;
        }
    }


}
